.container{
    margin: auto;
    margin-top: 10%;
    width: 230px;
    height: 500px;
    background-color: rgba(101, 197, 221, 0.479);
    padding-top: 10px;
    padding-bottom: 1px;
    padding-right: 84px;
    padding-left: 16px;
    border: thin solid white;
    border-radius: 10px;
}


.body{
    padding-top: 1%;
    margin-left: 25px;
    margin-right: -40px;
}

.gambar img{
    width: 300px;
    display: block;
    margin: auto;
    border: thin;
    border-radius: 10px;
}

.body h1{
    font-size: 19px;
    font-family: 'Poppins';
    text-align: center;

}

.body p{
    font-family: 'Poppins';
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 50%;
}